.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #b300ff;
  height: 80px;
  width: 100%;
  .top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: #e3a7fd;
    height: 40px;
    width: 100%;
    .instaFace {
      display: flex;
      flex-direction: row;
      justify-content: space-between; // Adjust as needed to align the images
      align-items: center; // Keeps the images vertically centered
      width: 80px; // This sets the container width, consider adjusting if having more than one image
      height: 40px; // This sets the container height
    }
  }
  .below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fee5e5;
    height: 40px;
    width: 100%;
    .routes {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; // Adjust as needed to align the links
      align-items: center; // Keeps the links vertically centered
      width: 100%; // This sets the container width
      height: 40px; // This sets the container height
      .route {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 23px;
        margin-right: 10px; // Adjust as needed to space the links&
        &.selected {
          border-bottom: #fdabc9 2px solid;
          margin-bottom: -2px;
        }
      }
    }
    .title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; // Adjust as needed to align the title
      align-items: center; // Keeps the title vertically centered
      width: 100%; // This sets the container width
      height: 40px; // This sets the container height
    }
  }
}
