<div class="container">
  <div class="top">
    <div class="instaFace">
      <a href="https://www.instagram.com/groovelovebylotte/">
        <app-icon [icon]="'Instagram.svg'"></app-icon>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100067958057525">
        <app-icon [icon]="'Facebook.svg'"></app-icon>
      </a>
    </div>
    <div class="contact">
      <a href="mailto:kontakt@groovelovebylotte.dk" class="contact">
        <app-icon [icon]="'Mail.svg'"></app-icon>
        <span>{{ "kontakt@groovelovebylotte.dk" }}</span>
      </a>
      <a href="tel:40402710" class="contact">
        <app-icon [icon]="'iPhone.svg'"></app-icon>
        <span>{{ "(+45) 40402710" }}</span>
      </a>
    </div>
  </div>
  <div class="below">
    <div class="title">
      <h1>Groove Love by Lotte</h1>
    </div>
    <div class="routes">
      <div
        *ngFor="let route of routes"
        class="route"
        [ngClass]="{ selected: selected === route.route }"
      >
        <span (click)="pressRouterLink(route.route)">{{ route.key }}</span>
      </div>
    </div>
  </div>
</div>
