:host {
  --width: 100%; /* Default width */
  --height: 150px; /* Default height */
}
.container {
  position: relative; /* Establishes a positioning context */
  height: var(--height);
  width: var(--width);
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  overflow: hidden; /* Hides the picture overflow */
}

.picture {
  position: absolute;
  top: -200; /* Aligns the picture to the top-left corner of the container */
  left: 0;
  width: 100%; /* Ensures the picture covers the container width */
  height: auto; /* Maintains the picture's aspect ratio */
  z-index: -1; /* Places the picture behind the title */
}
.darking {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65); /* Adds a dark overlay */
  z-index: 2; /* Places the overlay above the picture */
}

.title {
  color: white;
  position: relative; /* This is optional if you need specific positioning */
  z-index: 3; /* Ensures the title is above the overlay */
  font-size: 24px;
  font-weight: bold;
}
